[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pipenv-setup = "*"
pylint = "*"
autopep8 = "*"
rope = "*"
mypy = "*"

[packages]
scapy = "*"
pyserial = "*"
pycryptodomex = "*"
parse = "*"
cryptography = "*"

[requires]
python_version = "3.7"
